* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Nermin feature */
body {
  margin: 3rem;
  background: linear-gradient(-80deg, #0800a6d1, #1c31d5a0, #0435d7b0, #2406ad);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#enterDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15em;
  margin-bottom: 1rem;
  color: white;
}
#text1 {
  display: flex;
  margin-top: 0;
}
#enterName {
  border-radius: 10px;
}

#insert,
#remove {
  margin-top: 1rem;
  width: 7rem;
  background-color: #0f8cd1;
  border-radius: 10px;
  outline-style: ridge;
}

.list {
  position: relative;
  width: 900px;
  margin: auto;
  background-color: whitesmoke;
  border-radius: 20px;
}

.header {
  padding: 8px;
  font-size: 24px;
  color: white;
  border-radius: 20px 20px 0 0;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    302deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(17, 97, 183) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.items {
  height: 500px;
  overflow-y: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 38px;
}

.item_delete {
  font-size: 16px;
  transition: all 300ms ease-in-out;
}

/* Kyung Mi Feature */
.item_delete:hover {
  color: red;
  transform: scale(1.5);
}

.item_divider {
  width: 90%;
  height: 3px;
  background-color: grey;
  margin: auto;
}

.footer {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    302deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(17, 97, 183) 35%,
    rgba(0, 212, 255, 1) 100%
  );

  border-radius: 0 0 20px 20px;
}
.footer_input {
  width: 100%;
  height: 32px;
  outline: none;
  border: none;
  font-size: 24px;
  padding: 0px 16px;
}

.footer_button {
  width: 48px;
  height: 48px;
  background-color: black;
  border-radius: 50%;
  color: white;

  transition: all 300ms ease-in-out;
}
.footer_button:hover {
  transform: scale(1.2);
}

.pop-up {
  display: block;
  width: 25rem;
  height: 12rem;
  margin: auto;
  padding-top: 2rem;

  background-color: #00000090;
  border-radius: 15px;

  color: whitesmoke;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;

  /* transform: translateY(50%); */
  /* 
    display: flex;
    flex-direction: column;
    align-items: center;
  opacity: 1; */
}

.pop-up-hide {
  display: none;
}

.pop-up_refresh {
  width: 4rem;
  height: 4rem;
  margin-top: 1rem;
  font-size: 2rem;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 50%;
}

.pop-up_message {
  display: block;
  font-size: 1.5rem;
  padding-top: 0.8rem;
}

/* Zipeng Feature*/
@media only screen and (max-width: 600px) {
  .list {
    width: 80%;
  }
  .header {
    font-size: 18px;
  }
  .items {
    height: 300px;
  }
  .item {
    padding: 8px 16px;
  }
  .footer_input {
    font-size: 18px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .list {
    width: 90%;
  }
}

@media only screen and (min-width: 800px) {
}
